{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/change_password.css') }}">
{% endblock %}
{% block content %}

<div class="password-wrapper">
    <div class="password-card text-center">

        <!-- 제목 -->
        <h2 class="fw-bold mb-3 page-title">비밀번호 변경</h2>

        <!-- 안내 -->
        <p class="info-text">
            현재 비밀번호와 새 비밀번호를 입력해 주세요.<br>
            안전한 계정 관리를 위해 주기적인 변경을 권장합니다.
        </p>

        <!-- flash 메시지 -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert-box">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- 비밀번호 변경 폼 -->
        <form method="post">

            <!-- 현재 비밀번호 -->
            <input type="password" name="current_password"
                   class="form-control custom-input"
                   placeholder="현재 비밀번호">

            <!-- 새 비밀번호 -->
            <input type="password" name="new_password"
                   class="form-control custom-input"
                   placeholder="새 비밀번호">

            <!-- 새 비밀번호 확인 -->
            <input type="password" name="confirm_password"
                   class="form-control custom-input"
                   placeholder="새 비밀번호 확인">

            <!-- 변경 버튼 -->
            <button type="submit" class="change-btn">비밀번호 변경하기</button>
        </form>

        <!-- 하단 이동, 경로수정 4월16일-->
        <div class="bottom-link">
            <a href="{{ url_for('personal.edit_profile') }}">
                회원정보 수정으로 돌아가기
            </a>
        </div>

    </div>
</div>

{% endblock %}